.cards-holder-3
	.card-1
		.card-1__image-holder
			img.card-1__image(src="https://picsum.photos/200/120", alt="description")

		.card-1__container
			.card-1__title Ut molestiae ea sequi?

			.card-1__subtitle Ullam, accusamus quod? Ratione?

			.card-1__description Voluptatem quidem omnis harum? Sapiente, similique nulla! Recusandae. Saepe reprehenderit rerum itaque! Distinctio illo corrupti ratione? Reprehenderit tenetur quam voluptas.

		.card-1__footer

			.card-1__stars
				.card-1__star
				.card-1__star
				.card-1__star
				.card-1__star
				.card-1__star

			.card-1__price-holder
				.card-1__price-value 1199

				.card-1__price-currency $


	.card-1
		.card-1__image-holder
			img.card-1__image(src="https://picsum.photos/200/120", alt="description")

		.card-1__container
		
			.card-1__title Veritatis, neque libero.

			.card-1__subtitle Porro, exercitationem corporis.

			.card-1__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore quibusdam molestiae natus quasi totam minus aliquid tempore tempora sequi! Eveniet in exercitationem eligendi. Deserunt, corporis nulla at culpa similique neque.

		.card-1__footer

			.card-1__stars
				.card-1__star
				.card-1__star
				.card-1__star
				.card-1__star
				.card-1__star.card-1__star_half

			.card-1__price-holder
				.card-1__price-value 838

				.card-1__price-currency $


	.card-1
		.card-1__image-holder
			img.card-1__image(src="https://picsum.photos/200/120", alt="description")

		.card-1__container
		
			.card-1__title Lorem ipsum dolor

			.card-1__subtitle Porro, exercitationem corporis.

			.card-1__description Adipisicing elit. Inventore quibusdam molestiae natus quasi totam minus aliquid tempore tempora sequi! Eveniet in exercitationem eligendi. 

		.card-1__footer

			.card-1__stars
				.card-1__star
				.card-1__star
				.card-1__star

			.card-1__price-holder
				.card-1__price-value 2999

				.card-1__price-currency $