@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";

@import "fonts.css";

*, *::before, *::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    width: 100%;
    position: relative;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa;
}
button {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.header {
    height: 770px;
    max-width: inherit;
    background: #fefefe;
    color: gray;
    right: 0;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 13px;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.11);
    -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.11);
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.11);
    background-color: #fefefe;
    background-image: url(../image/bitmap-bitmap-mask.jpg);
    background-position: center;
    background-size: cover;
    /* background-size: 100% auto; */
    background-repeat: no-repeat;
}
.outline-1 {
    outline: 2px dotted #e9457f;
}
.img-logo {
    height: 70px;
    width: 100px;
    background: transparent url(../image/logo-transparents2x.png)  no-repeat;
    background-size: contain;
    outline: 2px solid #e9457f;
}
.top-nav ul { 
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    outline: 1px dotted #111;
}
.top-nav ul li {
    display: block;
    outline: 1px dotted #111;
    /* -webkit-transition: all .2s ease-in-out; */
    /* transition: all .2s ease-in-out; */
}
.top-nav ul li:hover > a {
    color: #e9457f;
}
.top-nav ul li:hover > ul {
    display: block;
}
.top-nav ul li {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.top-nav ul li a {
    display: block;
    padding: 20px 25px;
    color: #fefefe; /*d8d8d8;*/
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
}
.top-nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 0;
    min-width: 150px;
}
.top-nav ul ul li {
    position: relative;
}
.top-nav ul ul li a {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: block;
}
.top-nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}
.mn-dropdown {
    text-align: left;
    position: relative;
    font-size: 12px;
    display: inline-block;
}
.mn-dropdown .arrow-down {
    color: #f7f7f7;
    font-size: 1rem;
    position: absolute;
    right: 3px;
    top: 3px;
}
.mn-d-selected {
    font-size: 1rem;
    color: #f7f7f7;
    background-color: transparent;
    padding: 3px 13px 3px 10px;
    cursor: pointer;
}
.mn-d-content {
    z-index: 2000;
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    display: none;
}
.md-c-i {
    padding: 5px 9px;
    cursor: pointer;
    text-transform: uppercase;
    color: #f7f7f7;
    text-align: left;
    display: block;
    font-size: 13px;
    border-top: 1px solid #eee;
}
.md-c-i:hover {
    text-decoration: none;
    color: #333;
}
.row.p-sm > div:not(:first-child) {
    padding-left: 5px;
}
.row.p-sm > div:not(:last-child) {
    padding-right: 5px;
}
.language-selector {
   /* margin-right: -25px; */
}
.title-find {
    margin-top: 20%;
    outline: 2px dashed yellowgreen;
}
.title-find h1 {
    font-family: 'Galano Grotesque DEMO Bold','Verdana','Source Sans Pro', sans-serif;
    font-size: 3.8rem;
    color: rgba(255, 255, 255, 0.7);
}    
.title-find h1 b {
    color: #fff;
}
.header-bott-nav {
    /* margin: 20px 0 0 0; */
    margin-top: 20px;
    height: 60px;
    border-bottom: 2px solid #fff;
}
.header-bott-nav ul { 
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}
.header-bott-nav ul li {
    display: block;
    /* -webkit-transition: all .2s ease-in-out; */
    /* transition: all .2s ease-in-out; */
} 
.header-bott-nav ul li a {
    display: block;
    padding: 20px 0;
    margin: 0 50px 0 0;
    color: #fefefe; /*d8d8d8;*/
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    outline: 1px dotted #222;
}
.list {
    margin-top: 40px;
    background-color: #fefefe;
    height: 60px;

}
.list__btn {
    padding:1rem;
    margin: 0;
    width: 16.6666%;
    font-family: HelveticaNeue,'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    text-align: center;
     
    /* vertical-align: bottom; */
    /* line-height: 2.5rem; */
    outline: 1px dotted #111;
        /* padding: 130px 0; */
    /* padding-right: 50px; */
    /* padding: 50px; */
}
section {
    font-size: 50px;
    color: #444;
}
/* text-align: center; */
section h2 {
    position: relative;
    top: -200px;
    color: #fefefe;
}

.holiday .i-2 img{
    margin-left: -20px;
    margin-right: -20px;
    width: 560px;
}
.holiday .i-3 img{ 
    width: 340px;
    height: 340px;
}
.viz-row{
    /* height: 350px;
    width:  580px; */
    background-color: #222;

}
.mar {
    /* padding: 0 !important; */
       /* margin: 0 !important; */
}
.s-box {
    /* display: flex; */
    /* justify-content:  space-between ; */
    /*flex-end;*/
    /* align-items: end; */
    /* position: relative; */
    /* margin-top: 15px; */
    /* padding: 0; */
       /* margin: 0; */
    /* width:  580px; */
     width: 550px;
    /*height: 350px; */
    background-color: green;
    /* background-repeat: no-repeat; */
    /* background-origin: content-box; */
}
.color-grey {
    width: 300px;
    height: 300px;
    background-color: #999;
    /* margin: auto; */
}
.img-big {
    height: 300px;
    width: 250px;
    border-left: 2px dotted green !important;
    /* margin: 0; */
    /* padding: 0; */
    /* display: block; */
    /* padding-right: 0px; */
    /* margin-right: 0px; */
    /* margin-left: 30px; */
}
/* .grid {
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-color: #f9f9f9;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all .2s;
} */
.tour {
    margin-top: 20px;
}
.tour__image {
    display: block;
    /* width: 350px; */
    height: 350px;
} 
