@media (max-width: 575.98px) {
    .header,.content-box-2 {
        height: 300px;
    }
    .tour__img {
        height: 100px;
    }
    .sm-md-none {
        display: none;
    }
    .lg-xl-none {
        display: block;
    }
} 
@media (min-width: 576px) {
    .header,.content-box-2 {
        height: 500px;
    }
    .tour__img {
        height: 100px;
    }
    .sm-md-none {
        display: none;
    }
    .lg-xl-none {
        display: block;
    }
} 
@media (min-width: 768px) {
    .header,.content-box-2 {
        height: 550px;
    }
    .tour__img {
        height: 150px;
    }
    .sm-md-none {
        display: none;
    }
    .lg-xl-none {
        display: block;
    }
}
@media (min-width: 992px) {
    .header,.content-box-2 {
        height: 600px;
    }
    .tour__img {
        height: 200px;
    }
    .sm-md-none {
        display: block;
    }
    .lg-xl-none {
        display: none;
    }
}
@media (min-width: 1200px) {
    .header,.content-box-2 {
        height: 650px;
    }
    .tour__img {
        height: 250px;
    }
    .sm-md-none {
        display: block;
    }
    .lg-xl-none {
        display: none;
    }
}
@media (min-width: 1300px){
    .header,.content-box-2 {
        height: 700px;
    }
    .tour__img {
        height: 300px;
    }
    .sm-md-none {
        display: block;
    }
    .lg-xl-none {
        display: none;
    }
}
@media (min-width: 1400px){
    .header,.content-box-2 {
        height: 750px;
    }
    .tour__img {
        height: 350px;
    }
    .sm-md-none {
        display: block;
    }
    .lg-xl-none {
        display: none;
    }
}
@media (min-width: 1500px){
    .header,.content-box-2 {
        height: 770px;
    }
    .tour__img {
        height: 400px;
    }
    .sm-md-none {
        display: block;
    }
    .lg-xl-none {
        display: none;
    }
}


           